.App {
  text-align: center;
  display: grid;
  grid-template-rows: 20% 50% 30%;
  /* background-color: #282c34; */
  background-color: var(--starlight-gray);
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--starlight-blue);
  /* height: 100px; */
}

.App-link {
  color: #09d3ac;
}

#lifespan {
  color: var(--starlight-green)
}

main {
  display: grid;
  grid-template-columns: 70% 30%;
  max-width: 1000px;
  width: 100%;
  height: 500px;  
  margin: auto; 
  align-items: center;
  font-size: 10px;
}

@media screen and (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    font-size: 8px;
  }
}