.App {
  text-align: center;
  display: grid;
  grid-template-rows: 20% 50% 30%;
  /* background-color: #282c34; */
  background-color: var(--starlight-gray);
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
