.table_cell {
   border: 1px solid var(--starlight-grayblue);
   /* Width/height come from inline style so we can offer control to users */
   /* width: 5px;
   height: 5px; */
}

.table_cell:hover {
   cursor: pointer;
   /* background-color: var(--starlight-green); */
}

.life {
   background-color: var(--starlight-green);
}

.empty {
   /* background-color: white; */
}